:root {
  --color-white: #FFFFFF;
  --color-neutral: #293648;
  --color-neutral-90: #394B5B;
  --color-neutral-80: #505F6D;
  --color-neutral-70: #65737F;
  --color-neutral-60: #7C8792;
  --color-neutral-50: #919BA4;
  --color-neutral-40: #A7AFB6;
  --color-neutral-30: #C3C9CD;
  --color-neutral-20: #D3D7DB;
  --color-neutral-14: #E0E3E5;
  --color-neutral-10: #E9EBEC;
  --color-neutral-04: #F6F7F8;
  --color-green: #35B44F;
  --color-green-hover: #24943A;
  --color-green-darker: #147F26;
  --color-green-disabled:#99D9A6;
  --color-blue: #2980B9;
  --color-blue-hover: #1B679A;
  --color-blue-darker: #0d4d84;
  --color-blue-disabled: #94BFDC;
  --color-mint: #159F84;
  --color-mint-hover: #0B856D;
  --color-mint-darker: #05654E;
  --color-mint-disabled: #8ACFC1;
  --color-yellow: #F0C30E;
  --color-yellow-hover: #C9A001;
  --color-yellow-darker: #C38D00;
  --color-yellow-disabled: #f7E186;
  --color-red: #D8524E;
  --color-red-hover: #B33C38;
  --color-red-darker: #A52724;
  --color-red-disabled: #EBA8A6;
}
