:root {
  --color-white: #FFFFFF;
  --color-neutral: #293648;
  --color-neutral-90: #394B5B;
  --color-neutral-80: #505F6D;
  --color-neutral-70: #65737F;
  --color-neutral-60: #7C8792;
  --color-neutral-50: #919BA4;
  --color-neutral-40: #A7AFB6;
  --color-neutral-30: #C3C9CD;
  --color-neutral-20: #D3D7DB;
  --color-neutral-14: #E0E3E5;
  --color-neutral-10: #E9EBEC;
  --color-neutral-04: #F6F7F8;
  --color-green: #2ACA4B;
  --color-green-hover: #199E33;
  --color-green-darker: #006607;
  --color-green-disabled: #94E4A5;
  --color-blue: #007FFF;
  --color-blue-hover: #0066CC;
  --color-blue-darker: #003E83;
  --color-blue-disabled: #7FBFFF;
  --color-mint: #159F84;
  --color-mint-hover: #0B856D;
  --color-mint-darker: #045943;
  --color-mint-disabled: #8ACFC1;
  --color-yellow: #F2CD02;
  --color-yellow-hover: #C4A500;
  --color-yellow-darker: #9F7D07;
  --color-yellow-disabled: #FBF0B3;
  --color-red: #D8524E;
  --color-red-hover: #B33C38;
  --color-red-darker: #A52724;
  --color-red-disabled: #EBA8A6;
  --color-pink: #F9A5E4;
}

.white { color: #FFFFFF }
.neutral { color: #293648 }
.neutral-90 { color: #394B5B }
.neutral-80 { color: #505F6D }
.neutral-70 { color: #65737F }
.neutral-60 { color: #7C8792 }
.neutral-50 { color: #919BA4 }
.neutral-40 { color: #A7AFB6 }
.neutral-30 { color: #C3C9CD }
.neutral-20 { color: #D3D7DB }
.neutral-14 { color: #E0E3E5 }
.neutral-10 { color: #E9EBEC }
.neutral-04 { color: #F6F7F8 }
.green { color: #2ACA4B }
.green-hover { color: #199E33 }
.green-darker { color: #006607 }
.green-disabled { color: #94E4A5 }
.blue { color: #007FFF }
.blue-hover { color: #0066CC }
.blue-darker { color: #003E83 }
.blue-disabled { color: #7FBFFF }
.mint { color: #159F84 }
.mint-hover { color: #0B856D }
.mint-darker { color: #045943 }
.mint-disabled { color: #8ACFC1 }
.yellow { color: #F2CD02 }
.yellow-hover { color: #C4A500 }
.yellow-darker { color: #9F7D07 }
.yellow-disabled { color: #FBF0B3 }
.red { color: #D8524E }
.red-hover { color: #B33C38 }
.red-darker { color: #A52724 }
.red-disabled { color: #EBA8A6 }
.pink { color: #F9A5E4 }

.bg-white { background-color: #FFFFFF }
.bg-neutral { background-color: #293648 }
.bg-neutral-90 { background-color: #394B5B }
.bg-neutral-80 { background-color: #505F6D }
.bg-neutral-70 { background-color: #65737F }
.bg-neutral-60 { background-color: #7C8792 }
.bg-neutral-50 { background-color: #919BA4 }
.bg-neutral-40 { background-color: #A7AFB6 }
.bg-neutral-30 { background-color: #C3C9CD }
.bg-neutral-20 { background-color: #D3D7DB }
.bg-neutral-14 { background-color: #E0E3E5 }
.bg-neutral-10 { background-color: #E9EBEC }
.bg-neutral-04 { background-color: #F6F7F8 }
.bg-green { background-color: #2ACA4B }
.bg-green-hover { background-color: #199E33 }
.bg-green-darker { background-color: #006607 }
.bg-green-disabled { background-color: #94E4A5 }
.bg-blue { background-color: #007FFF }
.bg-blue-hover { background-color: #0066CC }
.bg-blue-darker { background-color: #003E83 }
.bg-blue-disabled { background-color: #7FBFFF }
.bg-mint { background-color: #159F84 }
.bg-mint-hover { background-color: #0B856D }
.bg-mint-darker { background-color: #045943 }
.bg-mint-disabled { background-color: #8ACFC1 }
.bg-yellow { background-color: #F2CD02 }
.bg-yellow-hover { background-color: #C4A500 }
.bg-yellow-darker { background-color: #9F7D07 }
.bg-yellow-disabled { background-color: #FBF0B3 }
.bg-red { background-color: #D8524E }
.bg-red-hover { background-color: #B33C38 }
.bg-red-darker { background-color: #A52724 }
.bg-red-disabled { background-color: #EBA8A6 }
.bg-pink { background-color: #F9A5E4 }
